.c-player {
  margin: 5px;
}

.c-player__header {
  margin: 0 0 5px 0;
}

.c-player__content {
  position: relative;
}

.c-player__actions {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.c-player__action {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.c-player__actions:hover .c-player__action {
  opacity: 1;
}

.c-player__action--active {
  width: 0;
  height: 0;
  border-top: 16px solid transparent;
  border-left: 24px solid #fff;
  border-bottom: 16px solid transparent;
}

.c-player__action--paused {
  width: 8px;
  height: 32px;
  border-right: 8px solid #fff;
  border-left: 8px solid #fff;
}